# dependencies
/node_modules

# build
/dist
/coverage
*.tsbuildinfo

# env & secrets
.env
.env.*.local

# prisma
prisma/*.db

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea
.vscode
